# marketsim csv files
data/

# build files
*.class
target/
build/
out/

# others
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db

# temp files
*~
*.swp
*.tmp

# maven wrapper
.mvn/wrapper/maven-wrapper.jar
